/* Place CSS styles here */
html, body {
    font-family: 'Teko', sans-serif;
    background-color: #0B2B40;
    width: 100%;
    height: 100%;
    color: aliceblue;
    scroll-behavior: smooth;
}

h1 {
  text-transform: capitalize;
  color: aliceblue;
  font-size: 50px;
}

.port-h1 {
  text-transform: capitalize;
  color: aliceblue;
  font-size: 50px;
}

.port-head {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    background-color: #3B8C6E;
    font-size: 60px;
}

.port-links {
    background-color: transparent;
    padding: 24px;
    color: black;
    text-decoration: none;
}

.port-headshot {
  width: 30%;
  height: auto;
}

.port-studioroom {
  width: 30%;
  height: auto;
}


/* Rectangle Out for links */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #3B8C6E;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #164242;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: #89D99D;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .dropbtn {
    background-color: #3B8C6E;
    color: black;
    padding: 16px;
    font-size: 60px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3B8C6E;
  }
  .port-bird {
  width: 50%;
  height: auto;
  }

  /* Wipe on scroll */

	* {
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    width: 100%;
    height: 100%;
  }
  
  .panel {
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: center;
    color: #fff;
    
    &.green {
      // margin-bottom: 400px;
    }
  }

  panel.green {
    
  }
  
  .one {
    grid: repeat(3, 80px) / auto-flow;
  }
  
  .two {
      background-color: #EE7785;
  }
  
  .three {
      background-color: #C89EC4;
  }
  
  .four {
      background-color: #84B1ED;
  }
  
  .top {
    height: 500px;
    font-size: 30px;
  }

/* Panels About */

.port-pan2 {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.port-pan3 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}