/* Place CSS styles here */
html, body {
    font-family: 'Teko', sans-serif;
    background-color: #0B2B40;
    width: 100%;
    height: 100%;
    color: aliceblue;
    scroll-behavior: smooth;
}

h1 {
  text-transform: capitalize;
  color: aliceblue;
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

p {
  font-size: 45px;
  text-align: center;
  padding: 30px;
}

img{
  width: 100%;
  height: auto;
}

.port-h1 {
  text-transform: capitalize;
  color: aliceblue;
  font-size: 100px;
  margin-top: 100px;
}

.port-logo{
  max-width: 155px;

}

.port-head {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    background-color: #3B8C6E;
    font-size: 60px;
    margin-top: 20px;
}

.port-links {
    background-color: transparent;
    padding: 24px;
    color: black;
    text-decoration: none;
}

.port-headshot {
  max-width: 350px;
}

.port-studioroom {
  max-width: 500px;
}

/* Rectangle Out for links */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #3B8C6E;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #164242;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: #89D99D;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .dropbtn {
    background-color: #3B8C6E;
    color: black;
    padding: 16px;
    font-size: 60px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links in dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /*background color of the dropdown button when content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3B8C6E;
  }

  .port-bird {
  width: 70%;
  height: auto;
  margin-top: 50px;
  }

  /* Wipe on scroll */

	* {
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    width: 100%;
    height: 100%;
  }
  
  .panel {
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: center;
    color: #fff;
    
    
  }

  panel.green {
    
  }
  
  .one {
    grid: repeat(3, 80px) / auto-flow;
  }
  
  .two {
      background-color: #3B8C6E;
  }
  
  .three {
      background-color: #0B2B40;
  }
  
  .four {
      background-color: #3B8C6E;
  }
  
  .top {
    height: 500px;
    font-size: 30px;
  }

/* Panels About */

.port-pan2 {
  display: flex;
  flex-direction: row;
  text-align: right;
  margin: 0 auto;
  margin-top: 60px;
}

.port-pan3 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  margin-top: 60px ;
}

.port-galrow1 {
  display: flex;
  text-align: center;
}

.port-galrow2 {
  display: flex;
  text-align: center;
}

/* overlay */
.port-wrapper {
  position: relative;
  display: flex;
}

.port-olay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(127, 17, 224, 0.676);
}

.port-olay-content:hover {
  opacity: 1;
}
/* overlay end */

.port-merchimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  max-width: 1380px;
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 60px;
}

.port-broimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1380px;
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 60px;
}

.port-letterimg {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 60px;
}

/* .port-shoeimg {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
} */

.port-photogal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
  list-style-type: none;
}

.port-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1380px;
  margin: 0 auto;
  list-style-type: none;
  margin-left: 60px;
  margin-right: 60px;
}

.port-teetext {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 64px;
}

.port-textlh {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}

.port-brotext {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}

.port-phototext {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}

.port-sec2text {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}

.port-sec3text {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}

.port-camplan {
  text-align: center;
}

.port-soundtext {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.port-camplantext {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 60px;
}
.port-emailsec {
  margin-bottom: 100px;
}

.port-contact {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #3B8C6E;
  margin-top: 32px;
}

/* phone */
@media screen and (max-width: 479px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    
  }
}

/* desktop */
@media screen and (min-width: 768px){

}