/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(92, 173, 202);
}

.sbborder{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 0px;
    padding: 12px 28px;
}

.port-head {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    background-color: tan;
    font-size: 40px;
}

a {
    background-color: transparent;
    padding: 24px;
}