/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #0B2B40;
}

.sbborder{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 0px;
    padding: 12px 28px;
}

.port-head {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    background-color: #3B8C6E;
    font-size: 60px;
}

.port-links {
    background-color: transparent;
    padding: 24px;
    color: black;
    text-decoration: none;
}

/* Rectangle Out for links */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #3B8C6E;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #164242;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: #89D99D;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }